.create-btn {
  position: fixed;
  left:50%;
  bottom: 1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  background-color: #f4935b;
  color: #f0f0f0;
}

.create-btn:hover {
  background-color: #f0f0f0;
  color: #f4935b;
}

@media screen and (min-width: 960px) {
  .create-btn {
    right: 1rem;
    bottom: 1rem;
    transform: translateX(-50%);
  }
}
