
.ClientCard-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20rem;
    color: gray;
    padding: 1rem;
    margin-bottom: 1rem;
    padding-top: 2rem;
    font-family: var( --big-font);
    font-size: 14px;
    width: 90%;
    margin:0 0 0 6rem;

}
.clients-list-title{
margin:2rem 4.6%;
color:var(--primary-color);
}
.clientList-name {
    width: 50%;
}

.clientList-location {
    width: 25%;
}

.clientList-sector {
    width: 50%;
}
