
.home-title {
    padding-left: 3rem;
}

.projectDetailsInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 85%;
    height: 24rem;
    padding-left: 2rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
    border-radius: 5px;
}

.projectDetailsDesc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    height: 24rem;
    width: 40%;
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 3rem;
    border-radius: 5px;
}

.projectDetailsDesc2 {
    padding-bottom: 2rem;
}

.projectDetailsDesc3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
gap: 2rem;
    padding-bottom: 2rem;
}
.projectDetailsDesc4 {
    width: 60%;
}

.projectDetails-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10rem;
    margin-bottom: 2rem;
    width: 90%;
}

.projectDetails-name {
    color: var(--secondary-color);
    font-family: var( --big-font);
    font-size: var(--fontL);
    margin-left: 3rem;
}

.projectDetailsInfo table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    
}

.projectDetailsInfo th {
    color: black;
    text-align: left;
    padding-bottom: 5px;
    font-size: var(--fontS);
    font-weight: 400;
    font-family: var(--big-font);

}

.projectDetailsInfo td {
    text-align: left;
    word-wrap: break-word;
    font-size: var(--fontS);
    font-weight: 0;
    font-family: var(--little-font);
    border: none;
}

.projectDetails-title {
    padding-bottom: 1rem;
}

.projectDetails-desc {
    font-family: var(--little-font);
    font-size: var(--fontS);
}

.projectDetails-stackholders {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    width: 60%;
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 3rem;
    border-radius: 5px;
}

.projectDetails-content {
    display: flex;
    flex-direction: row;
    width: 90%;
}

.projectDetails-link {
    margin-left: 3rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-family: var(--little-font);
    font-size: 10px;
    color: gray;
    text-decoration: none;
}

.stacks-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
  .stack-tag {
    text-align: center;
    width: 4rem;
    border-radius: 8px;
    background-color: var(--secondary-color);
    color: var(--light-color);
  }