.CourseList-title {
    font-family: var(--big-font);
    font-size: var(--fontM);
    color: gray;
    margin-left: 3rem;
    margin-bottom: 3rem;
    padding-top: 2rem;
}

.CourseList {
    margin-top: 0;
    padding-top: 0;
}
.coursesList-container{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-items: center; */
    gap:var(--marginL);
    background-color: #F9F9F9;
}
@media screen and (min-width:960px) {
    
    .coursesList-container{
        gap:var(--marginS);
        align-items: center;
    }
}