.navbar-container {
  position: fixed;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  font-weight: bold;
}
.navbar-list {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.navbar-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  list-style: none;
  height: 100%;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 100%;
  width: 4rem;
  color: var(--font-color);
  transition: var(--transition2);
}

.navbar-user {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}
.navlink-user {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navlink-logo {
  width: 7rem;
  margin: .5rem;
}
.navbar-user {
  margin: 0 var(--marginL) 0 0;
}

@media screen and (min-width: 960px) {
  .navbar-container {
    flex-direction: column;
    left: 0;
    height: 100vh;
    width: 8rem;
  }
  .navbar-list {
    flex-direction: column;
    justify-content: flex-start;
  }
  .nav-links {
    height: 4rem;
    width: 8rem;
  }
  .navbar-list li {
    height: 4rem;
  }
  .nav-links:hover {
    background-color: var(--secondary-color);
  }
  .navlink-user:hover,
  .navbar-user:hover,
  .navlink-logo:hover {
    background-color: var(--primary-color);
  }
  .navbar-user {
    margin: 0 0 var(--marginL) 0;
  }
  .navlink-logo {
    width: 6rem;
  } 
  .navbar-list li:first-child{
    height:10rem;
  }
}
